#typing-stats {
    font-size: x-large;
    margin-bottom: 0.5em;
}

.chart-header {
    font-size: large;
    font-weight: bold;
}

#typing-stats > .value {
    font-weight: 600;
    margin-left: 8px;
    font-family: sans-serif;
}


.button {
    background-color: #fffdf5;
    border-radius: 3px;
    border: 1px solid #9f7a61;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #9d7739;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button:hover,
.button:focus {
    background-color: #f4efe5;
    color: #43401a;
}

.button:focus {
    box-shadow: 0 0 0 4px rgb(106 57 6 / 15%);
}

.button:active {
    background-color: #857768;
    box-shadow: none;
    color: #fffade;
}